<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shopping List App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div id="shopping-list">
            <h1>{{ header.toLocaleUpperCase() }}</h1>
            <button class="btn btn-primary" v-if="state === 'default'" @click="changeState('edit')" >Add Item</button>
            <div class="add-item-form" v-else >
                <input type="text" v-model="newItem" placeholder="Add an item" @keyup.enter="saveItem">
                <button class="btn btn-primary" @click="saveItem">Save Item</button>
                <button class="btn btn-danger" @click="changeState('default')">Cancel</button>
            </div>
            <ul>
                <li v-for='item in items'>{{ item }}</li>
            </ul>
            <span v-if='items.length === 0'>You don't have any item on the list!</span>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>